<div ng-include=" '/partials/navbar.html' "></div>

<div>
		<input type="text" class="form-control" ng-model="mangaSearch">
		<button class="btn btn-danger" ng-click="searchBooks(mangaSearch)">Click</button>




	<div class="scroll">
	  <div class="col-md-3" ng-repeat="manga in mangaArray track by $index">
	    <p class="manga">{{manga.title}}</p>
	    <p class="manga">{{manga.id}}</p> 
	    <p class="manga">{{manga.description}}</p>
	    <!-- <img class="activator" ng-src={{manga.Poster}} err-src="img/noImage.png"> -->
	     <button ng-click="sendMangaItem(manga.mangaID)">Add</button>
	  </div>
	</div>

</div>