<div ng-include=" '/partials/navbar.html' "></div>

<div class="container">
  <div class="jumbotron">
  	<h1>What is Manga? Is it for nerds?</h1>
  	<h3 class="text-center">Do I have to read right to left?</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Manga is the Japanese comics with a unique story line and style. In Japan people of all ages read manga, manga does not target younger audiences like american comics. The genre includes a broad range of subjects. Here you will find 1000s of free english translated manga scans to read online. Discover the world of otaku!
  </div>  
</div>
  